@{
    ViewData["Title"] = "Westcoast Education";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a class = "courses" asp-area="" asp-controller="Courses" asp-action="Index">here</a> to see our courses.</p>
</div>
